/* Personnalisations supplémentaires */
.object-fit-cover {
  object-fit: cover;
}

.nav-link {
  padding: 1rem 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #b81f22 !important;
}

.btn-danger {
  background-color: #b81f22;
  border-color: #b81f22;
}

.btn-danger:hover {
  background-color: #9c1a1d;
  border-color: #9c1a1d;
}
.navbar {
  border-bottom: none !important;
  box-shadow: none !important;
}